* {
    font-family: 'Nanum Myeongjo', serif;
    color: #FFFAF0;
    background-color: transparent;
}

 body {
    background-image: url('../images/background.jpg');
  } 

h1 {
    color: #FFFAF0; 
    padding: 10px;
    margin: 2px;
    font-family: 'Roboto Slab', serif;

}

.container {
    width: inherit;
  }

.cityLabel {
    height: 20px;
}

.selectedCity {
    border: solid black 1px;
    padding: 1rem 0.5rem;
    border-radius: 8px;
}

.search-section-container {
    min-width: 40%;
    padding-left: 2rem;
}

.weather-section-container {
    min-width: 60%;
    margin: 2px;
    display: none;
}

.box {
    border: solid black 1px;
    color: #FFFAF0;
    border-radius: 8px;
    padding: 5px;
    /* font-weight: bold; */
}

.buttonContainer {
    width: 20%;
    margin: 5px;
}

.visible {
    display: block;
}

.forecastTitle {
    text-align: center;
    margin: 3px;
    font-weight: bolder;
}
