h1 {
    background-color: rgb(72, 61, 139);
    color: #FFFAF0;
    padding: 10px;
    margin: 2px;
}

.container {
    width: inherit;
  }

.cityLabel {
    height: 20px;
}

.selectedCity {
    border: solid black 1px;
    width: 50%;
}

/*.forecast {
    border: solid black;
}*/

.box {
    background-color: #56709c;
    border: solid black 1px;
    color: #FFFAF0;
}

.buttonContainer {
    width: 20%;
    margin: 5px;
}